.IonItem {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.IonCard {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  /* width: 100px; */
}

.IonCardHeader {
  font-weight: bold;
  font-size: 1.2em;
}

.IonCardContent {
  font-size: 1em;
}

.IonButton {
  background-color: #ff6347;
  color: #fff;
}

.IonTitle {
  color: #ff6347;
}
.full-thumbnail-bookdisplay {
  width: 100px;
  height: 100%;
  object-fit: cover;
  /* border-radius: 5px; */
}

.book-icon-bookdisplay {
  font-size: 60px;
  width: 100px;
  height: 80px;
  padding-top: 10px;
}

.button-book {
  display: block;
  margin: auto;
  padding: 5px 10px;
  max-width: 40%;
}

.contact-name {
  font-size: 16px;
  font-weight: bold;
}

.loan-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
