.small-font-home {
  font-size: 18px;
  align-items: center;
}

.card-header-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
  height: 130px;
  /* padding-top: -10px; */
}

.card-header-home-two {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
}
.card-top-home {
  display: flex;
  justify-content: space-between;
  width: 110px;
  font-size: 2.3rem;
}

.card-badge-home {
  font-size: 1.5rem;
  padding: 0.2rem 0.2rem;
}
.card-content-home {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  width: 100px;
}

.title-container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.book-details-home {
  text-align: left;
}

.thumbnail-home img {
  width: 100%;
  /* height: 100%; */
  height: 200px;
  /* width: 150px; */
  object-fit: cover;
  padding-left: 1rem;
}

.thumbnail-home {
  display: inline-block;
  flex: 1 0 auto;
  max-width: 50%;
  /* height: 200px; */
}

.header-label-home {
  font-size: 1.2em;
  margin-top: -10px;
}

.grid-home {
  padding-top: -10px;
}

.h1-name {
  padding-left: 25px;
  /* padding-bottom: -10px; */
  margin-bottom: 0;
}
