.book-card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-card .card-content {
  padding-left: 20px;
}

.book-card .card-title {
  font-size: 20px;
  font-weight: bold;
}
.search-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding-left: 10px; */
}

.header-padding {
  padding: 20px;
}
