ion-thumbnail {
  --size: 60px;
  --border-radius: 14px;
}

.full-thumbnail {
  width: 20%;
  height: 20%;
  object-fit: contain;
  margin-bottom: 10px;
  margin-right: 10px;
}

.book-icon {
  font-size: 60px;
}
